element {
  ravenclaw:#00006c;
  slytherin:#043e01;
  hufflepuff:#e9ac2d;
  gryffindor: #ae0001;
  hogwarts: black;
  umbridge: #df90a3;
}

.piece {
    width: 30px;
    height: 30px;
    border:0px;
}

.button1 {
    width: 30px;
    height: 30px;
    border: 10px solid purple;
}

.button2 {
    width: 35px;
    height: 35px;
    border: 10px solid white;
}

.ravenclaw {
  background: #00006c;
}

.slytherin {
  background: #043e01;
}

.hufflepuff {
  background: #e9ac2d;
}

.gryffindor {
  background: #ae0001;
}

.hogwarts {
  background: black;
}

.umbridge {
  background: #df90a3;
}

table {
  border-collapse: collapse;
}

h1, h4, p, body {
  text-align: center;
  background-color: purple;
  color: yellow;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

p {
  line-height: 1.5;
}

.space {
  padding: 3px 5px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.size {
  max-width: 70%;
}
